In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
import numpy as np
from pmdarima import auto_arima

In [2]:
data = pd.read_csv("AMV Historical Data.csv")

data['Price'] = data['Price'].str.replace(',', '').astype(float)
data['Date'] = pd.to_datetime(data['Date'])
data['Date']

0      2024-04-17
1      2024-04-16
2      2024-04-15
3      2024-04-12
4      2024-04-11
          ...
1317   2019-01-08
1318   2019-01-07
1319   2019-01-04
1320   2019-01-03
1321   2019-01-02
Name: Date, Length: 1322, dtype: datetime64[ns]

In [3]:
time_series = pd.DataFrame({'Date': data['Date'], 'Price': data['Price']})
time_series['Date'] = pd.to_datetime(time_series['Date'])
time_series['Price'] = time_series['Price'].astype(float)
time_series.set_index('Date', inplace=True)
time_series.sort_index(inplace=True)

time_series

              Price
Date
2019-01-02  17072.0
2019-01-03  16982.0
2019-01-04  16666.0
2019-01-07  16171.0
2019-01-08  16171.0
...             ...
2024-04-11   3500.0
2024-04-12   3500.0
2024-04-15   3300.0
2024-04-16   3300.0
2024-04-17   3200.0

[1322 rows x 1 columns]

In [4]:
train_data = time_series[:int(0.8* len(time_series))]
test_data = time_series[int(0.8*len(time_series)):]

In [ ]:
model = auto_arima(train_data, start_p=1, start_q=1,
                   max_p=5, max_q=5, m=12,
                   start_P=0, seasonal=True,
                   d=1, D=1, trace=True,
                   error_action='ignore',
                   suppress_warnings=True,
                   stepwise=True)

Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,1,1)[12]             : AIC=inf, Time=4.07 sec
 ARIMA(0,1,0)(0,1,0)[12]             : AIC=17028.209, Time=0.05 sec
 ARIMA(1,1,0)(1,1,0)[12]             : AIC=16770.023, Time=1.28 sec
 ARIMA(0,1,1)(0,1,1)[12]             : AIC=inf, Time=1.59 sec
 ARIMA(1,1,0)(0,1,0)[12]             : AIC=17029.804, Time=0.05 sec
 ARIMA(1,1,0)(2,1,0)[12]             : AIC=16639.860, Time=2.54 sec

In [ ]:
# Extract the best parameters from auto_arima
order = model.get_params()['order']

In [ ]:
# Fit ARIMA model
arima_model = ARIMA(train_data, order=order)
arima_result = arima_model.fit()

In [ ]:
predictions = arima_result.predict(start=len(train_data), end=len(train_data)+len(test_data)-1, dynamic=False)

In [ ]:
# Visualize the results
plt.figure(figsize=(12, 6))
plt.plot(train_data, label='Training Data')
plt.plot(test_data.index, test_data, label='Actual Data')
plt.plot(test_data.index, predictions, label='Predictions')
plt.title('AMV Time Series Forecast')
plt.xlabel('Date')
plt.ylabel('Closing Price')
plt.legend()
plt.show()

In [ ]:
data = pd.read_csv("DHT Historical Data.csv")

data['Price'] = data['Price'].str.replace(',', '').astype(float)
data['Date'] = pd.to_datetime(data['Date'])

time_series = pd.DataFrame({'Date': data['Date'], 'Price': data['Price']})
time_series['Date'] = pd.to_datetime(time_series['Date'])
time_series['Price'] = time_series['Price'].astype(float)
time_series.set_index('Date', inplace=True)
time_series.sort_index(inplace=True)

time_series

In [ ]:
train_data = time_series[:int(0.8*len(time_series))]
test_data = time_series[int(0.8*len(time_series)):]

In [ ]:
model = auto_arima(train_data, start_p=1, start_q=1,
                   max_p=5, max_q=5, m=12,
                   start_P=0, seasonal=True,
                   d=1, D=1, trace=True,
                   error_action='ignore',
                   suppress_warnings=True,
                   stepwise=True)

In [ ]:
# Extract the best parameters from auto_arima
order = model.get_params()['order']

In [ ]:
# Fit ARIMA model
arima_model = ARIMA(train_data, order=order)
arima_result = arima_model.fit()

In [ ]:
predictions = arima_result.predict(start=len(train_data), end=len(train_data)+len(test_data)-1, dynamic=False)

In [ ]:
# Visualize the results
plt.figure(figsize=(12, 6))
plt.plot(train_data, label='Training Data')
plt.plot(test_data.index, test_data, label='Actual Data')
plt.plot(test_data.index, predictions, label='Predictions')
plt.title('DHT Time Series Forecast')
plt.xlabel('Date')
plt.ylabel('Closing Price')
plt.legend()
plt.show()

In [ ]:
data = pd.read_csv("DP3 Historical Data (1).csv")

data['Price'] = data['Price'].str.replace(',', '').astype(float)
data['Date'] = pd.to_datetime(data['Date'])

time_series = pd.DataFrame({'Date': data['Date'], 'Price': data['Price']})
time_series['Date'] = pd.to_datetime(time_series['Date'])
time_series['Price'] = time_series['Price'].astype(float)
time_series.set_index('Date', inplace=True)
time_series.sort_index(inplace=True)

time_series

In [ ]:
train_data = time_series[:int(0.8*len(time_series))]
test_data = time_series[int(0.8*len(time_series)):]

In [ ]:
model = auto_arima(train_data, start_p=1, start_q=1,
                   max_p=5, max_q=5, m=12,
                   start_P=0, seasonal=True,
                   d=1, D=1, trace=True,
                   error_action='ignore',
                   suppress_warnings=True,
                   stepwise=True)

In [ ]:
# Extract the best parameters from auto_arima
order = model.get_params()['order']

In [ ]:
# Fit ARIMA model
arima_model = ARIMA(train_data, order=order)
arima_result = arima_model.fit()

In [ ]:
predictions = arima_result.predict(start=len(train_data), end=len(train_data)+len(test_data)-1, dynamic=False)

In [ ]:
# Visualize the results
plt.figure(figsize=(12, 6))
plt.plot(train_data, label='Training Data')
plt.plot(test_data.index, test_data, label='Actual Data')
plt.plot(test_data.index, predictions, label='Predictions')
plt.title('DP3 Time Series Forecast')
plt.xlabel('Date')
plt.ylabel('Closing Price')
plt.legend()
plt.show()